@import "./bootstrap_variables_overwrite.scss";

body {
    background-image: url("../img/marble.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.navbar-toggler{
width: 47px !important;
height: 34px !important;
background-color: #212529 !important;
}


.navbar-toggler .line{
width: 100% !important;
float: left !important;
height: 2px !important;
background-color: #61D6B4 !important;
margin-bottom: 5px !important;
}






@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");




